---
import ExperienceItem from "@components/ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Febrero 2023 - Actualmente...",
    title: "Intern en Baxter México",
    company: "Baxter México",
    description:
      "Intern del Programa Talent Lab de Baxter México, en el área de IT, en el equipo de Integración.",
    link: "https://www.linkedin.com/feed/update/urn:li:activity:7186051077723635712/",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
